{% extends "admin/layout.html" %}

{% block content %}
<form method="post">
    {% for msg in get_flashed_messages(category_filter=['ok']) %}
    <p style="color: red">{{ msg }}</p>
    {% endfor %}
    <div class="form-group">
        <label>学科中文名</label>
        {{ form.chinese_name }}
        {% for v in form.chinese_name.errors %}
            <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>学科英文名</label>
        {{ form.english_name }}
        {% for v in form.english_name.errors %}
            <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    {{ form.submit }}
    {{ form.csrf_token }}
</form>



{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#a1").addClass("active");
    });
</script>
{% endblock %}