<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <article>
        个人信息
    </article>
    <fieldset>
        <legend>成绩信息</legend>
        <div>
            成绩：{{ dict2.score_offline }}
        </div>>
        <div>
            考试所属年级：{{ dict2.score_exclass }}
        </div>
        <div>
            考试类型：{{ dict2.score_exsort }}
        </div>
        <div>
            单元考试名称：{{ dict2.exam_info }}
        </div>
    </fieldset>

</table>

</body>
</html>