<!--
Author: qixuanye
Time: 2020/01/31
后台整体页面布局
-->
<!doctype html>
<html lang="zh-cn">
<head>
    <!-- 从这里 -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 链接bootstrap的css文件-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">
    <!-- 到这里，属于固定写法，引入bootstrap的css文件 -->

    <title>蜻蜓教育后台</title>
    {% block css %}{% endblock %}
</head>
<body>
<!-- 导航栏-->
{% include "admin/nav.html" %}

<div class="container" style="margin-top: 40px">
    <div class="row">
        <!-- 列表菜单栏-->
        {% include "admin/menus.html" %}
        <!-- 内容栏-->
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">{{ title }}</div>
                <div class="card-body">
                    <!-- 实际内容栏 -->
                    {% block content%}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap固定写法 -->
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% block js %}{% endblock %}
</body>
</html>