<!--
Author: qixuanye
Time: 2020/02/03
后台菜单栏
-->
<div class="col-md-2">
    <div class="list-group">
        <a id="w1" href="/admin/ques_input" class="list-group-item list-group-item-action">添加错题</a>
        <a id="a1" href="/admin/subject/add" class="list-group-item list-group-item-action">添加学科</a>
        <a id="a2" href="/admin/subject/list/1"
           class="list-group-item list-group-item-action">学科列表</a>
        <a id="b1" href="/admin/period/add"
           class="list-group-item list-group-item-action">添加学段</a>
        <a id="b2" href="/admin/period/list/1" class="list-group-item list-group-item-action">学段列表</a>
        <a id="c1" href="/admin/knowledge_level1/add" class="list-group-item list-group-item-action">添加一级知识点</a>
        <a id="c2" href="/admin/knowledge/list/1" class="list-group-item list-group-item-action">知识点列表</a>
        <a id="c3" href="/admin/knowledge/list/1" class="list-group-item list-group-item-action">知识点列表</a>
        <a id="d1" href="/admin/teacher_info_input" class="list-group-item list-group-item-action">填写教师信息</a>
        <a id="d2" href="/admin/info_list/1" class="list-group-item list-group-item-action">老师信息列表</a>
    </div>
</div>