{% extends "admin/layout.html" %}

{% block content %}
<form method="post">
    {% for msg in get_flashed_messages(category_filter=['ok']) %}
    <p style="color: red">{{ msg }}</p>
    {% endfor %}
    <div class="form-group">
        <label>题干部分：</label>
        {{ form.ques_info }}
            <p style="color: red">{{ v }}</p>
    </div>
    {{ form.submit }}
    {{ form.csrf_token }}
</form>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#f1").addClass("active");
    });
</script>
{% endblock %}
