<!--
Author: Yujian
Time: 2020/01/29
-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 链接bootstrap的css文件-->
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">-->
    <title>蜻蜓教育 学生个人信息</title>
    <style>
        .clear{background-color: rgba(255, 255, 255, 0.95);}
        .listClear{background-color: rgba(255, 255, 255, 0.2);}
        .navClear{opacity: 0.7}
    </style>
<!--    {% block css %}{% endblock %}-->
</head>
<!--<body background="{{ url_for('static', filename = 'image/8服务理念.jpg')}}" style=" background-repeat:no-repeat ;-->
<!--background-size:100% 100%;-->
<!--background-attachment: fixed;">-->
<!--&lt;!&ndash; 导航栏&ndash;&gt;-->
<!--<nav class="navbar navber-light navClear" style="background-color: #e3f2fd">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand"> </a>-->
<!--        <a class="btn btn-outline-danger" href="/admin/logout">{{ session['user'] }}—>退出</a>-->
<!--    </div>-->
<!--</nav>-->
<!--<div class="container" style="margin-top: 40px">-->
<!--    <div class="row">-->
<!--        {% for msg in get_flashed_messages(category_filter=['ok']) %}-->
<!--        <div class="col-md-12">-->
<!--            <p style="color: green">{{ msg }}</p>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--        &lt;!&ndash; 列表栏&ndash;&gt;-->
<!--        <div class="col-md-2">-->
<!--            <div class="list-group">-->
<!--                <a id="f1" href="/admin/function/add" class="list-group-item list-group-item-action listClear">新增功能点</a>-->
<!--                <a id="f2" href="/admin/function/list/1" class="list-group-item list-group-item-action listClear">功能点列表</a>-->
<!--                <a id="m1" href="/admin/question_base/add" class="list-group-item list-group-item-action listClear">问题发布</a>-->
<!--                <a id="m2" href="/admin/question_base/list/1" class="list-group-item list-group-item-action listClear">问题列表</a>-->
<!--                <a id="c1" href="/admin/charts/func_chart" class="list-group-item list-group-item-action listClear">功能点访问统计</a>-->
<!--                <a id="c2" href="/admin/charts/answer_chart" class="list-group-item list-group-item-action listClear">问题访问统计</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 内容栏&ndash;&gt;-->
<!--        <div class="col-md-10">-->
<!--            <div class="card clear">-->
<!--                <div class="card-header">{{ title }}</div>-->
<!--                <div class="card-body">-->
<!--                    {% block content%}{% endblock %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>-->
<!--&lt;!&ndash; 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
<!--&lt;!&ndash; holder.js 图片占位符&ndash;&gt;-->
<!--<script src="https://cdn.bootcss.com/holder/2.9.6/holder.js"></script>-->
<!--{% block js %}{% endblock %}-->

<!--</body>-->
</html>