<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 链接bootstrap的css文件-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">
    <title>用户管理系统</title>
</head>
<body>
    <h1>  学生错题录入</h1>
    <p>错题题干：<br> </p>
    <form method="post">
        <div class="form-group">
            <label>题干信息</label>
            <textarea name="题干信息" cols="40" rows="6"></textarea>
        </div>
                <p>
                    <input type="submit" name="提交" value="提 交"></p>
            </form>

</body>
</html>

