<!--
Author: wanghaochen
Time: 2020/02/12
-->

{% extends "admin/layout.html" %}
{% import "admin/page.html" as pg %}

{% block css %}
<!-- 表格内容垂直居中 -->

<style>
    .tit{
        font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: large;
        color: white;
        background-color: #33cabb;
        border-radius: 5px;
        border-color: #00a0e9;
        border-width: 10px;
        border: 2px;
    }
    .backi{
        background-color: #fff;
        background: url("http://127.0.0.1:8888/static/upload/background.png");
        width: auto;
        height: auto;

    }
    .table td, .table th {
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th class = tit>姓名</th>
            <th class = tit>年纪</th>
            <th class = tit>所学专业</th>
            <th class = tit>毕业学校</th>
            <th class = tit>有无家教经验</th>
            <th class = tit> 班级</th>
            <th class = tit>创建人</th>
            <th class = tit>创建时间</th>
            <th class = tit>分类修改</th>
        </tr>
    </thead>
    {% for v in page_data.items %}
        <tr>
            <td>{{ v.name }}</td>
            <td>{{ v.grade }}</td>
            <td>{{ v.major }}</td>
            <td>{{ v.school}}</td>
            <td>{{ v.experience}}</td>
            <td>
               <a href="{{url_for('admin.teacher_class_list', id = v.teacher_id)}}"  class="btn btn-sm btn-outline-warning">班级</a>
            </td>
            <td>{{ v.creator }}</td>
            <td>{{ v.create_time }}</td>
            <form method="post">
            <td>
             <a href="{{url_for('admin.teacher_type_edit', id = v.teacher_id)}}"  class="btn btn-sm btn-outline-warning">修改</a>
            </td>
            </form>
        </tr>
    {% endfor %}
</table>
{{ pg.page(page_data, 'admin.info_list') }}
{% endblock %}


{% block js %}
<!-- 列表栏点击效果显示 -->
<script>
    $(document).ready(function () {
        $("#d2").addClass("active");
    });
</script>
{% endblock %}
