<!--
Author: wanghaochen
Time: 2020/02/12
-->

{% extends "admin/layout.html" %}
{% import "admin/page.html" as pg %}

{% block css %}
<!-- 表格内容垂直居中 -->
<style>
    .table td, .table th {
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>修改类别</label>
        {{ form.classify }}
    </div>
    <input type="submit" οnclick="alert('成功')"  value="提交">
    </form>

{% endblock %}


{% block js %}
<!-- 列表栏点击效果显示 -->
<script>
    $(document).ready(function () {
        $("#d2").addClass("active");
    });
</script>
{% endblock %}
